.addBookBtn {
    font-family: 'Montserrat', sans-serif;
    background-color:#ECECEC;
    color: #2B5782;
    padding-right: 2em;
    padding-left: 2em;
    margin-left: 42px;
    margin-top: 20px;
  }
  .addBookBtn :hover {
    background-color:#ccc9c9 !important;
    color:#ECECEC !important;
  
  }
  .addBookHeading {
    margin-top: 130px;
    margin-left: 40px;
    font-family: 'Montserrat', sans-serif;
    padding: 1%;
  }
  .addForm {
      margin-top: 25px;
  }
