.bookInfoCard{
    margin-top: 100px;
  }

  .bookinfoCardHeader{
    background-color: #1A82A9;
    border-bottom: 5px solid #ECECEC;
    font-family: 'Montserrat', sans-serif;
    color: white;
    height: 85px;
  }

.bookInfoName {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  
  }

  .bookInfoCardBodyTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
  }

  .bookInfoDesc {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
  }
  
  .bookInfoCardFooter {
    background-color: #1A82A9;
    color: white !important;
    
  }