.navbar {
  height: 6.5rem;
  background-color: #1A82A9 ;
  border-bottom: 5px solid #ECECEC;
  position: fixed;
}


  .title {
  color: #ECECEC  !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25px;
  }
  .homeButton{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color:#ecececa4  ;
  }
  .homeButton :hover{
    color: darkgrey !important;
  }
 
  .unAuthBtns{
    font-family: 'Montserrat', sans-serif;
    background-color:#ECECEC;
    color: #2B5782;
  }
 
   .unAuthBtns:hover{
    background-color:#ccc9c9;
    color:#ECECEC;
  }


   
  .logoutBtn{
    font-family: 'Montserrat', sans-serif;
    background-color:#e08122;
    color: white;
    font-size: 14px;
  }
 
   .logoutBtn:hover{
  background-color: rgb(175, 102, 13);
  }


.authUsername {
  color: #ECECEC  !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 1000;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 10px;
}
 


.signInModalBtn {
  font-family: 'Montserrat', sans-serif;
  background-color:rgb(26, 130, 169);
  color: white;
  margin-left: 40%;
} 
.signInModalBtn:hover{
  background-color:#ccc9c9;
  color:#ECECEC; 
}

.signUpModalBtn {
  font-family: 'Montserrat', sans-serif;
  background-color:rgb(26, 130, 169);
  color: white;
  margin-left: 38%;
} 
.signUpModalBtn:hover{
  background-color:#ccc9c9;
  color:#ECECEC;
}

.signInModalHeader {
  font-family: 'Montserrat', sans-serif;
  color: white;
  border-bottom: none;
  background-color: rgb(26, 130, 169);
  border-radius: 1%;
}

.signInModalBody {
  font-family: 'Montserrat', sans-serif;
  border-radius: 2%;
}


.signUpModalHeader {
  font-family: 'Montserrat', sans-serif;
  color: white;
  border-bottom: none;
  background-color: rgb(26, 130, 169);
  border-radius: 1%;
}

.signUpModalBody {
  font-family: 'Montserrat', sans-serif;
  border-radius: 2%;
}

