.issueComponent {
    margin-top: 125px;
    font-family: 'Montserrat', sans-serif;

}

.issueForm {
    justify-content: center;
    font-family: 'Montserrat', sans-serif;

}
.issueBookBtn {
    background-color:rgb(26, 130, 169);
    color: white;
    padding-right: 2em;
    padding-left: 2em;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-right: 10px;
}

.issueBookBtn :hover {
    background-color:#ccc9c9 !important;
    color:#ECECEC !important;
}