.logComponent {
    margin-top: 130px;
    text-align: center;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
}

.logTableHeader{
    background-color:#1A82A9 ;
    color: white;
    white-space: nowrap;
}
