.editBookModal {
font-family: 'Montserrat', sans-serif;
text-align: center;
align-self: center;
justify-content: center;

}
.editBookModalHeader{
    font-family: 'Montserrat', sans-serif;
    border-bottom: none;
    background-color:rgb(26, 130, 169);
    color: white;
    border-radius: 1%;
}
.editBookModalBody{
    font-family: 'Montserrat', sans-serif;
    border-radius: 2%;
}
.editBookBtn {
    background-color:rgb(26, 130, 169);
    color: white;
    margin-right: 20px;

}
.editBookModalLabel {
    white-space: nowrap;
}


.deleteBookModal {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    align-self: center;
    justify-content: center;
    
    }
    .deleteBookModalHeader{
        font-family: 'Montserrat', sans-serif;
        border-bottom: none;
        background-color:rgb(26, 130, 169);
        color: white;
        border-radius: 1%;
    }
    .deleteBookModalBody{
        font-family: 'Montserrat', sans-serif;
        border-radius: 2%;
    }

.deleteBookBtns {
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
}