
.returnComponent {
    margin-top: 10px;
    text-align: center;
    align-self: center;
    font-family: 'Montserrat', sans-serif;

}

.returnTableHeader{
    background-color:#1A82A9 ;
    color: white;
    white-space: nowrap;
}
.returnHeader {
    margin-top: 120px;
}

.returnTable {
    margin-top: 15px;
}

.returnBtn {
    background-color:#ECECEC;
    color: #2B5782;
    font-family: 'Montserrat', sans-serif;
  }
  .returnBtn :hover {
    background-color:#ccc9c9 !important;
    color:#ECECEC !important;
  
  }