
.searchPageInput {
    margin-top: 120px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

.searchBooklist {
    font-family: 'Montserrat', sans-serif;
    }

.searchForm {
    margin-top: 25px;
}

